### Week 2 (Session 1) - May 15, 2023

#### material to cover: 

**2.6 and 2.7**
- Conditional Probability
- Bayes Rule

**add**
- Histograms 

***You need to know (Review)***

**1.**
- Measure of location, (mean, median and mode)
- Measure of variability, (variance, standard deviation) 
- Discrete and Continous data 

**2.**
- Sample Space
- Events
- Counting Sample points
- Probability

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt 

data = pd.read_csv('movies.csv')
data.head()

,rank,movie_id,title,year,link,imbd_votes,imbd_rating,certificate,duration,genre,...,director_id,director_name,writer_id,writer_name,storyline,user_id,user_name,review_id,review_title,review_content
0,1,tt0111161,The Shawshank Redemption,1994,https://www.imdb.com/title/tt0111161,"2,711,075",9.3,R,2h 22m,Drama,...,nm0001104,Frank Darabont,"nm0000175,nm0001104","Stephen King,Frank Darabont","Over the course of several years, two convicts...","ur16161013,ur15311310,ur0265899,ur16117882,ur1...","hitchcockthelegend,Sleepin_Dragon,EyeDunno,ale...","rw2284594,rw6606154,rw1221355,rw1822343,rw1288...","Some birds aren't meant to be caged.,An incred...",The Shawshank Redemption is written and direct...
1,2,tt0068646,The Godfather,1972,https://www.imdb.com/title/tt0068646,"1,882,829",9.2,R,2h 55m,"Crime,Drama",...,nm0000338,Francis Ford Coppola,"nm0701374,nm0000338","Mario Puzo,Francis Ford Coppola",The aging patriarch of an organized crime dyna...,"ur24740649,ur86182727,ur15794099,ur15311310,ur...","CalRhys,andrewburgereviews,gogoschka-1,Sleepin...","rw3038370,rw4756923,rw4059579,rw6568526,rw1897...","The Pinnacle Of Flawless Films!,An offer so go...",'The Godfather' is the pinnacle of flawless fi...
2,3,tt0468569,The Dark Knight,2008,https://www.imdb.com/title/tt0468569,"2,684,051",9.0,PG-13,2h 32m,"Action,Crime,Drama",...,nm0634240,Christopher Nolan,"tt0468569,nm0634300,nm0634240,nm0275286,tt0468569","Writers,Jonathan Nolan,Christopher Nolan,David...",When the menace known as the Joker wreaks havo...,"ur87850731,ur1293485,ur129557514,ur12449122,ur...","MrHeraclius,Smells_Like_Cheese,dseferaj,little...","rw5478826,rw1914442,rw6606026,rw1917099,rw5170...","The Dark Knight,The Batman of our dreams! So m...","Confidently directed, dark, brooding, and pack..."
3,4,tt0071562,The Godfather Part II,1974,https://www.imdb.com/title/tt0071562,"1,285,350",9.0,R,3h 22m,"Crime,Drama",...,nm0000338,Francis Ford Coppola,"nm0000338,nm0701374","Francis Ford Coppola,Mario Puzo",The early life and career of Vito Corleone in ...,"ur0176092,ur0688559,ur92260614,ur0200644,ur117...","Nazi_Fighter_David,tfrizzell,umunir-36959,DanB...","rw0135607,rw0135487,rw5049900,rw0135526,rw0135...",Breathtaking in its scope and tragic grandeur....,"Coppola's masterpiece is rivaled only by ""The ..."
4,5,tt0050083,12 Angry Men,1957,https://www.imdb.com/title/tt0050083,"800,954",9.0,Approved,1h 36m,"Crime,Drama",...,nm0001486,Sidney Lumet,nm0741627,Reginald Rose,The jury in a New York City murder trial is fr...,"ur1318549,ur0643062,ur0688559,ur20552756,ur945...","uds3,tedg,tfrizzell,TheLittleSongbird,henrique...","rw0060044,rw0060025,rw0060034,rw2262425,rw5448...","The over-used term ""classic movie"" really come...",This once-in-a-generation masterpiece simply h...

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   rank            250 non-null    int64
 1   movie_id        250 non-null    object
 2   title           250 non-null    object
 3   year            250 non-null    int64
 4   link            250 non-null    object
 5   imbd_votes      250 non-null    object
 6   imbd_rating     250 non-null    float64
 7   certificate     249 non-null    object
 8   duration        250 non-null    object
 9   genre           250 non-null    object
 10  cast_id         250 non-null    object
 11  cast_name       250 non-null    object
 12  director_id     250 non-null    object
 13  director_name   250 non-null    object
 14  writer_id       250 non-null    object
 15  writer_name     250 non-null    object
 16  storyline       250 non-null    object
 17  user_id         250 non-null    object
 18  user_name       250 non-null    object
 19  review_id       250 non-null    object
 20  review_title    250 non-null    object
 21  review_content  250 non-null    object
dtypes: float64(1), int64(2), object(19)
memory usage: 43.1+ KB

In [4]:
data.describe()

             rank         year  imbd_rating
count  250.000000   250.000000   250.000000
mean   125.500000  1986.360000     8.306800
std     72.312977    25.125356     0.229006
min      1.000000  1921.000000     8.000000
25%     63.250000  1966.250000     8.100000
50%    125.500000  1994.000000     8.200000
75%    187.750000  2006.000000     8.400000
max    250.000000  2022.000000     9.300000

In [5]:
data.columns

Index(['rank', 'movie_id', 'title', 'year', 'link', 'imbd_votes',
       'imbd_rating', 'certificate', 'duration', 'genre', 'cast_id',
       'cast_name', 'director_id', 'director_name', 'writer_id', 'writer_name',
       'storyline', 'user_id', 'user_name', 'review_id', 'review_title',
       'review_content'],
      dtype='object')

## Measure of LOCATION

In [17]:
import numpy as np

In [18]:
yr = int(input('Want to know What is the average rating for movies made in a particular year? Enter the Year'))


rt = data[data['year'] == yr]['imbd_rating']
rt_ = np.array(rt)

print('Here are some of the movie ratings from that year: ', rt_[:10])

avg_rt = rt_.mean()

print('The Average rating for {} is {}'.format(yr, avg_rt))

Want to know What is the average rating for movies made in a particular year? Enter the Year 1990

Here are some of the movie ratings from that year:  [8.7 8. ]
The Average rating for 1990 is 8.35

In [34]:
print('Ratings for each decade:')


dict_ = {
    '20s': np.array(data[(1920 <= data['year']) & (data['year'] < 1930)]['imbd_rating']).mean(),
    '30s': np.array(data[(1930 <= data['year']) & (data['year'] < 1940)]['imbd_rating']).mean(),
    '40s': np.array(data[(1940 <= data['year']) & (data['year'] < 1950)]['imbd_rating']).mean(),
    '50s': np.array(data[(1950 <= data['year']) & (data['year'] < 1960)]['imbd_rating']).mean(),
    '60s': np.array(data[(1960 <= data['year']) & (data['year'] < 1970)]['imbd_rating']).mean(),
    '70s': np.array(data[(1970 <= data['year']) & (data['year'] < 1980)]['imbd_rating']).mean(),
    '80s': np.array(data[(1980 <= data['year']) & (data['year'] < 1990)]['imbd_rating']).mean(),
    '90s': np.array(data[(1990 <= data['year']) & (data['year'] < 2000)]['imbd_rating']).mean(),
    '00s': np.array(data[(2000 <= data['year']) & (data['year'] < 2010)]['imbd_rating']).mean(),
    '10s': np.array(data[(2010 <= data['year']) & (data['year'] < 2020)]['imbd_rating']).mean(),
    '2020s': np.array(data[(2020 <= data['year']) & (data['year'] < 2030)]['imbd_rating']).mean(),
}


ratings_dec = pd.DataFrame(dict_, index = [0])
ratings_dec

Ratings for each decade:

,20s,30s,40s,50s,60s,70s,80s,90s,00s,10s,2020s
0,8.2,8.257143,8.266667,8.291304,8.316667,8.342105,8.281481,8.392857,8.302083,8.25814,8.38

In [44]:
#Median 
dict_med = {
    '20s': np.median(np.array(data[(1920 <= data['year']) & (data['year'] < 1930)]['imbd_rating'])),
    '30s': np.median(np.array(data[(1930 <= data['year']) & (data['year'] < 1940)]['imbd_rating'])),
    '40s': np.median(np.array(data[(1940 <= data['year']) & (data['year'] < 1950)]['imbd_rating'])),
    '50s': np.median(np.array(data[(1950 <= data['year']) & (data['year'] < 1960)]['imbd_rating'])),
    '60s': np.median(np.array(data[(1960 <= data['year']) & (data['year'] < 1970)]['imbd_rating'])),
    '70s': np.median(np.array(data[(1970 <= data['year']) & (data['year'] < 1980)]['imbd_rating'])),
    '80s': np.median(np.array(data[(1980 <= data['year']) & (data['year'] < 1990)]['imbd_rating'])),
    '90s': np.median(np.array(data[(1990 <= data['year']) & (data['year'] < 2000)]['imbd_rating'])),
    '00s': np.median(np.array(data[(2000 <= data['year']) & (data['year'] < 2010)]['imbd_rating'])),
    '10s': np.median(np.array(data[(2010 <= data['year']) & (data['year'] < 2020)]['imbd_rating'])),
    '2020s': np.median(np.array(data[(2020 <= data['year']) & (data['year'] < 2030)]['imbd_rating'])),
}


ratings_dec_med = pd.DataFrame(dict_med, index = [0])
ratings_dec_med

   20s  30s   40s  50s  60s  70s  80s  90s  00s  10s  2020s
0  8.2  8.2  8.25  8.2  8.3  8.2  8.3  8.3  8.2  8.2    8.3

In [42]:
#Mode
print('A better Question is, How many movies from each decade are there in the Top 250 IMDB list.')

dict_count = {
    '20s': np.array(data[(1920 <= data['year']) & (data['year'] < 1930)]).size,
    '30s': np.array(data[(1930 <= data['year']) & (data['year'] < 1940)]).size,
    '40s': np.array(data[(1940 <= data['year']) & (data['year'] < 1950)]).size,
    '50s': np.array(data[(1950 <= data['year']) & (data['year'] < 1960)]).size,
    '60s': np.array(data[(1960 <= data['year']) & (data['year'] < 1970)]).size,
    '70s': np.array(data[(1970 <= data['year']) & (data['year'] < 1980)]).size,
    '80s': np.array(data[(1980 <= data['year']) & (data['year'] < 1990)]).size,
    '90s': np.array(data[(1990 <= data['year']) & (data['year'] < 2000)]).size,
    '00s': np.array(data[(2000 <= data['year']) & (data['year'] < 2010)]).size,
    '10s': np.array(data[(2010 <= data['year']) & (data['year'] < 2020)]).size,
}

counts_dec = pd.DataFrame(dict_count, index = [0])
counts_dec

A better Question is, How many movies from each decade are there in the Top 250 IMDB list.

   20s  30s  40s  50s  60s  70s  80s  90s   00s  10s
0  132  154  264  506  396  418  594  924  1056  946

## Measure of VARIABILITY

## BAYES RULE

## HISTOGRAM